
.card-groupColleagues{
    /*margin: 0 50px;*/
}

.cardColleagues{
    padding: 25px!important;
}

.card{
    border: none;
}

.container{
    width: auto!important;
    max-width: none!important;
}

.h2About{
    font-size: 30px;
    color: #669978;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.card-groupColleagues{
    margin-left: 10px!important;
    margin-right: 10px!important;
}

.card-body{
    padding: 0;
}

.card-title {
    text-align: center;
    font-size: medium;
    margin-top: 15px;
}

.card-text{
    text-align: center;
    margin: 5px;
}

.indexBtnAbout{
    width: 100px;
    display:flex;
    justify-content: center;
    margin: 10px auto;
    border-color: #17a2b8!important;
}

.card-footer{
    border-top: none!important;
}

@media(max-width:767px) {
    .card-img-top{
        margin-top: 30px;
    }

    .h2About{
        margin-bottom: 0;
    }
}