
.containerDetail{
    margin-right: 50px;
    margin-left: 50px;
}

.h2AboutDetail{
    font-size: 30px;
    color: #669978;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.h3Detail{
    text-align: center;
}

.photoDetail{
    float: left;
    margin: 0 30px 30px 10px;
    width: 300px;
}

.aboutColleague{
    margin-bottom: 10px;
    text-align: justify;
}

.colleagueBiography{
    text-align: justify;
}

.aboutColleagueParagraph{
    text-indent: 1.5em;
    text-align: justify;
}

.detailButton{
    clear: left;
    margin-bottom: 30px;
}


input[type="checkbox"] {
    display: none;
}

input + label {
    display: block;
    width: 160px;
    height: 120px;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    /*  transition: .4s;
    */
}
input:checked + label {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: white;

    /*background-size: auto;*/
    background-size: 500px;
    z-index: 99999;
}

.certificatePhoto{
    cursor: pointer;
}
