.container{
    margin-left: 0!important;
    margin-right: 0!important;
    padding-left: 0!important;
    padding-right: 0!important;
}

.card-titleH1{
    color: #746f6f!important;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 100px;
    font-family: 'Great Vibes', cursive;


    font-size: 2.99em;
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    line-height: 48px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0);
}

.card-titleH2{
    color: #746f6f!important;
    text-align: center;
    margin: 10px 0 15px;
    font-size: x-large;
    font-style: italic;
    font-family: 'Great Vibes', cursive;
}

.h2Index{
    text-align: center;
    color: #699066;
}

.indexBtn{
    width: 40%;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    font-size: large;
}

.myCard{
    padding: 0!important;
    position: relative;
    display: flex;
    flex-direction: column;
}

.fonPhoto{
    width: 100%;
}

.indexTextContent{
    margin: 20px 30px;
}

.textIndex{
    text-indent: 1.5em;
    text-align: justify;
}

.siteSlogan{
    text-align: center;
    font-size: large;
    color: #5c4e4e;
}

.pIndexSecondParagraph{
    margin-top: 10px;
}

.pIndexFirstParagraph, .pIndexSecondParagraph{
    text-align: justify;
    padding-left: 20px;
    text-indent: 20px;

    font-family: 'Great Vibes', cursive;
    font-style: italic;

}

@media (max-width: 1400px) {
    .card-titleH1{
        margin-top: 80px;
    }
}

@media (max-width: 1250px) {
    .card-titleH1{
        margin-top: 20px;
    }
}

@media (max-width: 1100px) {
    .card-titleH1{
        margin: 0;
        font-size: xx-large;
    }

    .siteSlogan{
        font-size: larger;
    }
}

@media (max-width: 1010px) {
    .card-titleH1{
        margin-top: 20px!important;
        margin-bottom: 0!important;
        font-size: xx-large;
    }

    .card-titleH2 {
        margin: 0 0 10px!important;
    }

    .siteSlogan{
        font-size: small;
    }
}

@media (max-width: 900px) {
    .card-titleH1{
        font-size: x-large;
        margin-top: 0!important;
    }

    .card-titleH2 {
        font-size: large;
    }

    .pIndexSecondParagraph{
        margin-top: 3px;
    }
}

@media (max-width: 800px) {
    .card-titleH1{
        font-size: x-large;
        margin-top: 20px!important;
    }

    .card-titleH2{
        font-size: large;
    }

    .siteSlogan{
        font-size: smaller;
    }

    .card-img-overlay{
        padding: 0;
    }
}

@media (max-width: 750px) {
    .card-titleH1 {
        margin-top: 10px!important;
    }
}

@media (max-width: 715px) {
    .card-titleH1 {
        margin-top: 0!important;
    }

    .indexBtn{
        width: 60%;
        font-size: larger;
    }

    .siteSlogan{
        font-size: smaller;
    }
}

@media (max-width: 695px) {
    .siteSlogan{
        font-size: x-small;
    }
}

@media (max-width: 650px) {
    .card-titleH1{
        font-size: x-large;
        margin-top: 10px!important;
        line-height: 30px;
    }

    .card-titleH2{
        font-size: large;
        margin-bottom: 5px;
    }

    .pIndexFirstParagraph, .pIndexSecondParagraph{
        padding-left: 10px;
    }
}

@media (max-width: 600px) {
    .card-titleH1 {
        font-size: large;
    }

    .card-titleH2{
        margin-bottom: 0!important;
    }

        .siteSlogan{
            font-size: x-small;
        }
}

@media (max-width: 586px) {
    .siteSlogan{
       visibility: hidden;
    }

    .card-titleH1 {
        font-size: x-large;
        margin-top: 50px!important;
    }

    .card-titleH2{
        margin-top: 5px!important;
    }
}

@media (max-width: 443px) {
    .card-titleH1 {
        margin-top: 30px!important;
    }
}