body.home{
    width:100%;
    height:100%;
    background-size: cover;
}

html { height: 100%; }
body{
    min-height: 100%;
    position: relative;
    padding-bottom: 50px;
}

.footer{
    background-color: #f6dccb;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    margin: 0;
}

#w0{
    /*background-color: #e2e2e2;*/
    background-color: #f6dccb;
    /*border-color: #e2e2e2;*/
    /*border-color: #f4e1e1;*/
    border-color: #f6dccb;
}

.myBreadcrumbs{
    margin: 20px 50px 0!important;
}

h1{
    color: #669978!important;
}

.img-responsive{
    padding-left: 80px !important;
}

.navbar{
    margin-bottom: 0;
}

.navbar-nav > li > a {
    color: #669978!important;
}

.navbar-nav > li > a:hover {
    color: #27dc7c !important;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-collapse {
    flex-basis: 0;
    border-top: none;
}

.navbar-inverse .navbar-brand {
    color: #6fa870;
    font-size: 14px;
    padding: 15px 0 15px 0;
}

.navbar-brand {
    padding: 15px!important;
}

.navbar-toggle {
    float: initial;
    left: 25%;
}

#w2{
    width: 75%;
    display: flex;
    justify-content: center;
}

.sidebar2 img{
    width: 100%;
}

#header {
    margin: 10px 0;
    padding: 15px;
    background: khaki;
    font-size: 18px;
    /*text-shadow: 0 0 #;*/
    text-decoration: none;
}

button.btn.btn-outline-success {
    margin: 0 0 15px;
}

.sidebar ul {
    text-align: center;
    padding: 20px;
}

.sidebar ul li {
    margin: 20px;
    list-style-type: none;
    font-weight: 600;
    font-style: oblique;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #555;
    background-color: #e2e2e2;
}

.navbar-default .navbar-nav > .active > a{
    background-color: transparent!important;
    color: #fd715b !important;
}

.containerLogo{
    text-align: right;
    margin-top: 16px;
}

.containerRef{
    margin-top: 8px;
    text-align: center;
    margin-bottom: 0;
}

.siteDesigner{
    margin-bottom: 0;
}


@media (max-width: 765px) {
    .navbar-nav {
        flex-direction: column;
    }

    .img-responsive{
        padding-left: 0 !important;
    }
}

@media (max-width: 690px) {
    .containerLogo{
        font-size: small;
    }
}

@media (max-width: 643px) {
    .containerLogo {
        font-size: smaller;
        text-align: center;
    }
}